* {
  padding:0; margin:0;
}

header {
  width:100%;
  display: flex;
  justify-content: space-between;
  background-color:dodgerblue;
  position: relative;
}

header > div {
  padding:10px 20px;
  color:white;
}

header > div:first-child {
  font-size: 18px;
  line-height: 140%;
  font-size:24px;
}

header > div:last-child {
  font-size: 18px;
  line-height: 200%;
}

header > div > a {
  color:white;
  text-decoration: none;
  padding: 5px 10px;
  cursor: pointer;
}

header > div > a:hover {
  border-bottom: 5px solid lightblue;
}

#content {
  width: 60%;
  margin: 0 auto;
}

.input {
  margin: 10px 0px;
}

.input > label {
  display: block;
}

.input > input[type=text] {
  width: 100%;
  padding:10px;
  border: 1px solid gray;
  background-color:snow;
}

.input > input[type=password] {
  width: 100%;
  padding:10px;
  border: 1px solid gray;
  background-color:snow;
}

.input > button {
  width: 50%;
  padding: 10px;
  display: block;
  margin: 0 auto;
  background-color:dodgerblue;
  border: 0px;
  color:snow;
  cursor:pointer;
}